.d-flex {
display: flex;
justify-content: center;
position: relative;
z-index: 1;
margin-top:2rem;
}


.custom-shape-divider-top-1660426231 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1660426231 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 149px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1660426231 .shape-fill {
    fill: #000000;
}

